body {
  background-color: #ff8800;
  text-align: center;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

button {
  background:#5dd3b5;
  cursor: pointer;
} 

.ssbtns {
  width: 400px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  font-size: 70px;
  font-family: fantasy;
  color: #381d69;
}

#resumebtn {
  display: none;
}

#Title {
  font-size: 100px;
  margin-bottom: 35px;
  margin-top: 25px;
  font-family: Arial;
  text-decoration: underline;
  color: #381d69;
}

#ssbtnsdiv{
  position: absolute;
  width: 100%;
  font-family: fantasy;
}

#ssbtnsdiv p {
  font-size: calc(0.4vmax + 12px);
}

#howtodiv {
  display: none;
}

#afterStart {
  display: none;
}

#backbtn{
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: auto;
  font-size: 40px;
  font-family: fantasy;
  color: #381d69;
}

#why{
  margin-top: 700px;
}

.treeimg {
  position: absolute;
}

.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  vertical-align: top;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 20px; 
  height: 20px; 
  background:#5dd3b5;
  cursor: pointer; 
  border-radius: 12px;
}

#widthInput {
  font-family: fantasy;
  font-size: 20px;
}

#widthNum {
  width: 35px;
  font-size: 15px;
  vertical-align: top;
}

#widthSlider {
  position: relative;
  top: 5px;
}
